body{
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

table{
	
	      margin:100px auto;
	      width: 60%;
	      text-align: center;
	      border-bottom:  5px solid #210B61;
	
	
      }


th{
  	color: white;
  	background: #210B61;
  	padding: 15px 15px ;
  }

  tr td {
  	        padding: 15px 15px ;
  	        border : 1px solid  #210B61;
  	        background-color: #D8D8D8;
  	        font-size: 20px;
        }

.source{
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 0  20px ;
}

.index{
	font-size: 15px;
	color: red;
}
.ajouter{
	font-size: 30px;
	font-family: arial;
	margin-top: 90px;
	margin-left: 300px;

	text-shadow: 2px 2px 5px red;

  }

a:hover {
  color: blue;
}

h1{
	color: red;
}
  

  